body {
    background-color: lightgray;
}

#imgLogo {
    width: 50%;
}

#formDesign {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 1.5rem;
}

#blueForm {
    padding-bottom: 50px;
}

h2 {
    width: 90%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.crdhd {
    width: 100%;
    text-align: left;
    padding: 2rem;
}

#crdnumbr {
    padding-left: 1.5rem;
}