body {
    background-color: lightgray;
}

#imgLogo {
    width: 50%;
}

#formDesign {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 1.5rem;
}

#blueForm {
    padding-bottom: 50px;
}

h2 {
    width: 90%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#firstDiv {
    background-color: #1d4354;
    padding-left: 12rem;
    padding-right: 12rem;
}

#iconNav {
    font-size: 3.5rem;
    color: lightgray;
}

footer {
    background-color: #1d4354;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1rem;
}

.linkFooter {
    color: white;
}

ul {
    list-style: none;
    padding-top: 10px;
}

.dropdown {
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#mySelect {
    padding: 10px;
    width: 100%;
    margin: 0;
}

.crdhd {
    width: 100%;
    text-align: left;
    padding: 2rem;
}

#continueBtn4 {
    float: right;
    font-size: 1.5rem;
}

#crdnumbr {
    padding-left: 1.5rem;
}